# pacman-bward configuration
# Each line follows the format key=value
# Lines starting with # are ignored.

game.pacman.lives=2
game.pacman.immortality=true
game.ghosts.disabled=['pinky','inky','clyde']
game.level=1
game.mod="flood"
game.debug=true
game.debugBounds=true
game.debugGrid=false
flood.waveIntervalMin=5
flood.waveIntervalMax=15
flood.pacmanBreathing=10
flood.ghostsBreathing=7