# pacman-bward configuration
# Each line follows the format key=value
# Lines starting with # are ignored.

#this is the default values
game.default.pacman.lives=5
game.default.pacman.immortality=false
game.default.ghosts.disabled=[]
game.default.level=1
game.default.mod="none"
game.default.debug=false
game.default.debugBounds=false
game.default.debugGrid=false

#These are the real applied values
game.pacman.lives=3
game.pacman.immortality=false
game.ghosts.disabled=['pinky','inky','clyde']
game.level=1
game.debug=true
game.debugBounds=false
game.debugGrid=false
game.mods=['none']
