# pacman-bward configuration
# Each line follows the format key=value
# Lines starting with # are ignored.

#this is the default values
game.default.lives=2
game.default.immortality=false
game.default.ghosts.disabled=[]
game.default.level=1
game.default.mod="none"
game.default.debug=false
game.default.debugBounds=false
game.default.debugGrid=false

#These are the real applied values
game.pacman.lives=2
game.pacman.immortality=true
game.ghosts.disabled=['pinky','inky','clyde']
game.level=1
game.mod="flood"
game.debug=true
game.debugBounds=true
game.debugGrid=false

